@model ProjetoAcademiaModel.Empregado

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empregado</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.identidade, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.identidade)
                @Html.ValidationMessageFor(model => model.identidade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cpf, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cpf)
                @Html.ValidationMessageFor(model => model.cpf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome)
                @Html.ValidationMessageFor(model => model.nome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aulaGrupo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aulaGrupo)
                @Html.ValidationMessageFor(model => model.aulaGrupo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.aulaMusculacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aulaMusculacao)
                @Html.ValidationMessageFor(model => model.aulaMusculacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.senha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.senha)
                @Html.ValidationMessageFor(model => model.senha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idPerfil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idPerfil)
                @Html.ValidationMessageFor(model => model.idPerfil)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
