@model ProjetoAcademiaModel.Ferias

@{
    ViewBag.Title = "Visualizar";
}

<div>
    <h4>Ferias</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idAluno)
        </dt>

        <dd>
            @ProjetoAcademiaModel.Aluno.Selecionar(Model.idAluno).nome
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>

        <dd>
            @Model.dataInicio.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>

        <dd>
            @Model.dataFim.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayName("Dias")
        </dt>

        <dd>
            @Model.dataFim.Subtract(Model.dataInicio).Days
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Ferias", new { idAluno = Model.idAluno })" style="width:10%" class="btn btn-default">
        Voltar
    </a>
</p>
