@model ProjetoAcademiaModel.Pagamento

@{
    ViewBag.Title = "Visualizar";
}


<div>
    <h4>Pagamento</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idAluno)
        </dt>

        <dd>
            @ProjetoAcademiaModel.Aluno.Selecionar(Model.idAluno).nome
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataBaseInicio)
        </dt>

        <dd>
            @Model.dataBaseInicio.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataBaseFim)
        </dt>

        <dd>
            @Model.dataBaseFim.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataProxima)
        </dt>

        <dd>
            @Model.dataProxima.ToShortDateString()
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index", "Pagamento", new { idAluno = Model.idAluno })" style="width:10%" class="btn btn-default">
        Voltar
    </a>
</p>
