@model IEnumerable<ProjetoAcademiaModel.Pagamento>

@{
    ViewBag.Title = "Pagamentos";
    
}
<br />
<h4>Pagamentos de @ProjetoAcademiaModel.Aluno.Selecionar(int.Parse(ViewData["idAluno"].ToString())).nome</h4>

<p>
    @Html.ActionLink("Novo Pagamento", "Create", new { idAluno = int.Parse(ViewData["idAluno"].ToString()) })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataBaseInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataBaseFim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataProxima)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @item.dataBaseInicio.ToShortDateString()
        </td>
        <td>
            @item.dataBaseFim.ToShortDateString()
        </td>
        <td>
            @item.dataProxima.ToShortDateString()
        </td>
        <td>
            <a href="~/Pagamento/Edit?id=@item.id" style="text-decoration:none" title="Alterar">
                <span class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> </span>
            </a>
            |
            <a href="~/Pagamento/Details?id=@item.id" style="text-decoration:none" title="Visualizar">
                <span class="btn btn-xs btn-success"><span class="glyphicon glyphicon-search"></span> </span>
            </a>
            |
            <a href="~/Pagamento/Delete?id=@item.id" style="text-decoration:none" title="Excluir">
                <span class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> </span>
            </a>
        </td>
    </tr>
}

</table>
<br />
<p>
    @Html.ActionLink("Voltar", "Index", "Aluno")
</p>
